body {
    background: #16191b !important;
}

.ad {

}

.searchbox {
    width: 90%;
    height: 5%;
    border-radius: 5px;
    border: none;
}

.searchbutton {
    height: 5%;
    border-radius: 5px;
    border: none;
    margin-left: 1%;
}

.table_data {
    width: 100%;
    color: white;
}

.ad_container {
    background-color: grey;
}